{% extends 'portfolio/layout.html' %}

{% block content %}
    <div class="container">
        <h1 class="title_blog">Блог</h1>
        <br>

        <h2>Юрий написал {{ blogs.count }} статьи </h2>

        <div class="info_blog">
            {% for blog in blogs %}
            <a href="{% url 'blog:detail' blog.id%}"><h1> {{ blog.title }}</h1></a>
            <h5>{{ blog.date | date:'d M Y'}}</h5>
            <h3>{{ blog.description| striptags | truncatechars:100  }}</h3>
            {% endfor %}
        </div>

    </div>

{% endblock %}